@font-face {
    font-family: 'Adobe Clean';
    src: url(./font/AdobeClean-Light.eot);
    src: url(./font/AdobeClean-Light.woff)format('woff')
}

* {
    font-family: 'Adobe Clean', sans-serif !important
}

@media only screen and (min-width:700px) and (max-width:2000px) {
    .container-fluid {
        margin: auto;
        width: 35%;
        padding: 5px 40px;
    }
}


h4 {
    font-weight: 700;
    text-align: center
}

.view_file {
    padding: 10px;
    width: 100%;
    background: #1473e6;
    border: 0;
    border-radius: 2px;
    color: white;
    transition: background .5s
}

img {
    vertical-align: top;
}

.view_file:hover,
.view_file:active,
.view_file:focus {
    background: #1c82ff
}

p {
    font-size: 14px;
}
.pdf-link {
    margin: 10px
}

.header-img {
    text-align: left
}

.footer {
    padding: 20px;
    border-top: 1px solid rgb(196, 193, 193);
    color: gray;
    margin-top: 30px;
    font-weight: lighter;
    text-align: center
}

input {
    border: none !important;
    padding-left: 10px !important;
    width: 97% !important;
    border-bottom: 1px solid lightgray !important;
    border-radius: 0 !important;

}

input:focus,
input:active {
    border-bottom: 1px solid rgb(0, 137, 228) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 13px !important;
}

input::placeholder {
    padding-left: 10px !important;
    font-style: italic;
    font-size: 13px !important;
}

.loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: .7;
    text-align: center;
    padding: 20em 0
}

.view_file {
    font-weight: bolder
}

.alert {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}

.sm-logo {
    display: inline-flex;
    flex-wrap: wrap;
    color: grey;
}

.apple-btn,
.fb-btn,
.google-btn {
    border-radius: 50px;
    padding: 15px 20px;
    width: 100%;
    margin: 5px;
}

.apple-btn {
    background: black;
    color: white;
}

.fb-btn {
    background: #3f5d94;
    color: white;
}

.google-btn {
    background-color: white;
    color: grey;
}

.seperator {
    background-color: #fff;
    color: #505050;
    display: inline-block;
    font-size: 14px;
    padding-right: 16px;
    position: relative;
}

.seperator-Parent {
    display: block;
    min-height: 1px;
    position: relative;
    margin-top: 2px;

}
.seperator-Parent::before {
    background-color: #eaeaea;
    content: "";
    display: block;
    height: 1px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
}